<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test_QLBTS.Properties.Settings.ThucTapNhom_QLBTSConnectionString"
            connectionString="Data Source=DESKTOP-62LMKSH\SQLEXPRESS;Initial Catalog=ThucTapNhom_QLBTS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMy_QLBTS" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50673/My_QLBTS.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMy_QLBTS" contract="ServiceReference1.IMy_QLBTS"
                name="BasicHttpBinding_IMy_QLBTS" />
        </client>
    </system.serviceModel>
</configuration>