<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMy_QLBTS" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50673/My_QLBTS.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMy_QLBTS" contract="ServiceReference1.IMy_QLBTS"
                name="BasicHttpBinding_IMy_QLBTS" />
        </client>
    </system.serviceModel>
</configuration>